@media (max-width: 768px) {
    .nav-links {
    gap: 10px;
    }
    .hero-text h1 {
    font-size: 2rem;
    }
    .hero-text p {
    font-size: 1rem;
    }
    .about-us, .our-location, .contact-information {
    flex-direction: column;
    text-align: center;
    }
    .baking-items {
    flex-direction: column;
    align-items: center;
    }
    .info-section {
    flex-direction: column;
    align-items: center;
    }
    .column {
    margin-bottom: 20px;
    }
}